INICIANDO CON PYTHON

1. Primer ejercicio

In [ ]:
n_identi = input("Digite su numero de identificacion: ")
nombres = input("Escriba sus nombres: ")
apellidos = input("Escriba sus apellidos: ")
direccion = input("Ingrese su dirección: ") 
telefono = input("Ingrese su teléfono: ")
edad = input("¿Cuantos años tiene?: ")
e_civil= input("¿Cual es su estado civil?: ")
n_hijos = input("¿Cuantos hijos tiene?: ")
estatura_c = input("¿Cual es su estatura en centimetros?: ")
fecha_contra = input("¿Cual es su fecha de contratacion? (Día/mes/año): ")
sueldo_b = input("¿Cual es su sueldo básico?: ")
d_Laborados = input("Ingrese la cantidad de días laborados: ")

print(n_identi)
print(nombres)
print(apellidos)
print(direccion)
print(telefono)
print(edad)
print(e_civil)
print(n_hijos)
print(estatura_c)
print(fecha_contra)
print(sueldo_b)
print(d_Laborados)

Digite su numero de identificacion: 1514744
Escriba sus nombres: Ale
Escriba sus apellidos: Alfo
Ingrese su dirección: Calle falsa 1 2 3
Ingrese su teléfono: 51466541
¿Cuantos años tiene?: 65
¿Cual es su estado civil?: Soltero
¿Cuantos hijos tiene?: 6
¿Cual es su estatura en centimetros?: 170
¿Cual es su fecha de contratacion? (Día/mes/año): 12/2/2022
¿Cual es su sueldo básico?: 125832
Ingrese la cantidad de días laborados: 65
1514744
Ale
Alfo
Calle falsa 1 2 3
51466541
65
Soltero
6
170
12/2/2022
125832
65

2. Un vendedor recibe un sueldo base más un 10% extra por comisión de sus ventas, el vendedor desea saber cuánto dinero obtendrá por concepto de comisiones por las tres ventas que realiza en el mes y el total que recibirá en el mes tomando en cuenta su sueldo base y comisiones.

In [ ]:
sueldo = float(input("Ingrese su sueldo base: "))
ventas = int(input("Ingrese la cantidad de ventas realizadas en el mes: "))

comision = round(sueldo * (ventas * 0.1),2)
total = sueldo + comision

print("El valor de las comisiones es= ${:,.0f} y el Total a recibir es= ${:,.0f}".format(comision, total))

Ingrese su sueldo base: 1000000
Ingrese la cantidad de ventas realizadas en el mes: 3
El valor de las comisiones es= $300,000 y el Total a recibir es= $1,300,000

3. Una tienda ofrece un descuento del 15% sobre el total de la compra y un cliente desea saber cuánto deberá pagar finalmente por su compra.

In [ ]:
venta = float(input("¿Cual fue el total de la compra?: "))

descuento = venta*0.15
total = venta - descuento

print("El descuento es = ${:,.0f} y el total a pagar es = ${:,.0f}".format(descuento, total))

¿Cual fue el total de la compra?: 2000000
El descuento es = $300,000 y el total a pagar es = $1,700,000

4. Un alumno desea saber cuál será su calificación final en la materia de Algoritmos. Dicha calificación se compone de tres exámenes parciales.

In [ ]:
cal1 = float(input("Calificacion primer parcial: "))
cal2 = float(input("Calificacion segundo parcial: "))
cal3 = float(input("Calificacion tercer parcial: "))

total = round((cal1 + cal2 + cal3)/3,2)

print(f"La calificacion final es = {total}")

Calificacion primer parcial: 3.5
Calificacion segundo parcial: 4
Calificacion tercer parcial: 4.2
La calificacion final es = 3.9

5. Un maestro desea saber qué porcentaje de hombres y que porcentaje de mujeres hay en un grupo de estudiantes.

In [ ]:
mujeres = int(input("Ingrese la cantidad de mujeres: "))
hombres = int(input("Ingrese la cantidad de hombres: "))

p_mujeres = round((mujeres/(mujeres + hombres))*100,2)
p_hombres = round((hombres/(mujeres + hombres))*100,2)

print(f"El porcentade de mujeres del grupo es= {p_mujeres}% y el porcentaje de Hombres del grupo es= {p_hombres}% ")

Ingrese la cantidad de mujeres: 30
Ingrese la cantidad de hombres: 20
El porcentade de muejeres del grupo es= 60.0% y el porcentaje de Hombres del grupo es= 40.0%

6. Si el empleado es mayor de 55 años disfrutará de un bono de prepensión correspondiente al 5% de su sueldo básico.

In [ ]:
edad = int(input("Ingrese su edad: "))
sueldo = float(input("Ingrese su sueldo básico: "))

if edad > 55 :
  bono = round((sueldo*0.05),2)
  total = bono + sueldo
  print("El bono pensional es igual a= ${:,.0f} y el total a recibir es= ${:,.0f}".format(bono, total))
else:
  print("El empleado NO tiene derecho al bono pensional y el total a recibir es= ${:,.0f}".format(sueldo))

Ingrese su edad: 56
Ingrese su sueldo básico: 1000000
El bono pensional es igual a= $50,000 y el total a recibir es= $1,050,000

7. Si el empleado es casado y tiene hijos se le otorgará un paseo cada diciembre

In [ ]:
e_civil = input("Por favor indique si es soltero o casado: ")
if e_civil != "soltero":
  hijos = int(input("Cuantos hijos tiene?: "))
  if hijos > 0:
    print("!Felicidades¡ El empleado tiene derecho a un paseo cada diciembre")
  else: 
    print("El empleado No tiene derecho al paseo de diciembre")
else:
  print("El empleado No tiene derecho al paseo de diciembre")

Por favor indique si es soltero o casado: casado
Cuantos hijos tiene?: 1
!Felicidades¡ El empleado tiene derecho a un paseo cada diciembre

8. Si el sueldo básico está entre 1.000.000 y 1.500.000 tendrá una comisión del 2% sobre el valor del sueldo; Si el sueldo básico está entre 1.500.001 y 2.000. 000 tendrá una comisión del 5% sobre el valor del sueldo; para todos los demás pasos no habrá comisión.

In [ ]:
sueldo_b = float(input("Por favor ingrese su sueldo básico: "))
if sueldo_b > 1000000 and sueldo_b <= 1500000:
  comision = round(sueldo_b * 0.02,2)
  total = sueldo_b + comision
  print("El empleado recibe una comision del 2% que equivale a= ${:,.0f} y el total a recibir es= ${:,.0f}".format(comision, total))
elif sueldo_b > 1500000 and sueldo_b <= 2000000:
  comision = round(sueldo_b * 0.05,2)
  total = sueldo_b + comision
  print("El empleado recibe una comision del 5% que equivale a= ${:,.0f} y el total a recibir es= ${:,.0f}".format(comision, total))
else:
  print("El empleado NO recibe comision. El total a recibir es= ${:,.0f}".format(sueldo_b))

Por favor ingrese su sueldo básico: 2000001
El empleado NO recibe comision. El total a recibir es= $2,000,001

9. Si el empleado trabajó más de 20 días al mes y su sueldo es menor a 1000000 tendrá derecho a un bono de alimentación.

In [ ]:
sueldo_b = float(input("Por favor ingrese su sueldo básico: "))
dias_t = int(input("Por favor ingresa la cantidad de días trabajados: "))

if sueldo_b < 1000000 and dias_t > 20:
  print("El empleado tiene derecho a un bono de alimentación.")
else:
  print("El empleado NO tiene derecho a un bono de alimentación.")

Por favor ingrese su sueldo básico: 95200
Por favor ingresa la cantidad de días trabajados: 20
El empleado NO tiene derecho a un bono de alimentación.

10. Crear un bucle que cuente todos los números pares hasta el 100 ciclo for

In [ ]:
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

11. Haz una tabla de multiplicar utilizando el ciclo for

In [ ]:
num = int(input("Digite el número que desea para generar la tabla de multiplicar: "))

for i in range(11):
  print(i, " x ", num, " = ",  i * num)

Digite el número que desea para generar la tabla de multiplicar: 10
0  x  10  =  0
1  x  10  =  10
2  x  10  =  20
3  x  10  =  30
4  x  10  =  40
5  x  10  =  50
6  x  10  =  60
7  x  10  =  70
8  x  10  =  80
9  x  10  =  90
10  x  10  =  100

12. Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad).

In [ ]:
edad = int(input("Por favor, ingrese su edad: "))
print("Usted ha cumplido los siguientes años:")
for i in range(1, edad + 1):
    print(i)

Por favor, ingrese su edad: 20
Usted ha cumplido los siguientes años:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

13. Escribir un programa que pida al usuario un número entero positivo y muestre por pantalla todos los números impares desde 1 hasta ese número separados por comas.

In [1]:
numero = int(input("Ingrese un número entero positivo: "))
impares = ""

for i in range(1, numero+1):
    if i % 2 != 0:
        impares += str(i) + ", "

print("Los números impares desde 1 hasta", numero, "son:", impares[:-2])

Ingrese un número entero positivo: 9
Los números impares desde 1 hasta 9 son: 1, 3, 5, 7, 9

14. Encuentra la suma de todos los números pares del 1 al 100

In [ ]:
acu = 0

for i in range(1,101,2):
  acu = acu + i
print(f"El total de la suma de los número pares del 1-100= {acu}")

El total de la suma de los número pares del 1-100= 2500

15. Integrar Ciclos y Funciones en el código del Taller 1.

In [5]:
def info(ident, nom, ape, dir, tele, ed, eciv, hij, esta, contra, suel, dlabo):
  print("---------------------------------------")
  print(f"Numero de identificacion: {ident}")
  print(f"Nombre: {nom}")
  print(f"Apellidos: {ape}")
  print(f"Direccion: {dir}")
  print(f"Telefono: {tele}")
  print(f"Edad: {ed}")
  print(f"Estado civil: {eciv}")
  print(f"Cantidad de hijos: {hij}")
  print(f"Estatura: {esta} cm")
  print(f"Fecha de contratacion: {contra}")
  print(f"Sueldo: {suel}")
  print(f"Dias laborados: {dlabo}")
  print("---------------------------------------")

resp = "Si"

while resp == "Si" or resp == "si":
  n_identi = input("Digite su numero de identificacion: ")
  nombres = input("Escriba sus nombres: ")
  apellidos = input("Escriba sus apellidos: ")
  direccion = input("Ingrese su dirección: ") 
  telefono = input("Ingrese su teléfono: ")
  edad = input("¿Cuantos años tiene?: ")
  e_civil= input("¿Cual es su estado civil?: ")
  n_hijos = input("¿Cuantos hijos tiene?: ")
  estatura_c = input("¿Cual es su estatura en centimetros?: ")
  fecha_contra = input("¿Cual es su fecha de contratacion? (Día/mes/año): ")
  sueldo_b = input("¿Cual es su sueldo básico?: ")
  d_Laborados = input("Ingrese la cantidad de días laborados: ")

  info(n_identi, nombres, apellidos, direccion, telefono, edad, e_civil, n_hijos, estatura_c, fecha_contra, sueldo_b, d_Laborados)
    
  resp = input("Desea ingresar otra persona?")

Digite su numero de identificacion: 10205478965
Escriba sus nombres: Juan
Escriba sus apellidos: Galindo
Ingrese su dirección: Calle falsa 123
Ingrese su teléfono: 3158896654
¿Cuantos años tiene?: 25
¿Cual es su estado civil?: Casado
¿Cuantos hijos tiene?: 2
¿Cual es su estatura en centimetros?: 175
¿Cual es su fecha de contratacion? (Día/mes/año): 12-05-21
¿Cual es su sueldo básico?: 1950000
Ingrese la cantidad de días laborados: 28
---------------------------------------
Numero de identificacion: 10205478965
Nombre: Juan
Apellidos: Galindo
Direccion: Calle falsa 123
Telefono: 3158896654
Edad: 25
Estado civil: Casado
Cantidad de hijos: 2
Estatura: 175 cm
Fecha de contratacion: 12-05-21
Sueldo: 1950000
Dias laborados: 28
---------------------------------------
Desea ingresar otra persona?si
Digite su numero de identificacion: 130896547
Escriba sus nombres: Pepito
Escriba sus apellidos: Perez
Ingrese su dirección: Calle falsa 321
Ingrese su teléfono: 31855663211
¿Cuantos años tiene?: 51
¿Cual es su estado civil?: Soltero
¿Cuantos hijos tiene?: 1
¿Cual es su estatura en centimetros?: 159
¿Cual es su fecha de contratacion? (Día/mes/año): 11-12-20
¿Cual es su sueldo básico?: 2485658
Ingrese la cantidad de días laborados: 30
---------------------------------------
Numero de identificacion: 130896547
Nombre: Pepito
Apellidos: Perez
Direccion: Calle falsa 321
Telefono: 31855663211
Edad: 51
Estado civil: Soltero
Cantidad de hijos: 1
Estatura: 159 cm
Fecha de contratacion: 11-12-20
Sueldo: 2485658
Dias laborados: 30
---------------------------------------
Desea ingresar otra persona?no

16. Integrar Ciclos y Funciones en el código del Taller 2.